/* .TituloReceitas{
    min-width:280px;
    margin-right: 10px;
} */
.posConteudo{
    padding-top: 20px;
   }
@media only screen and (max-width: 767px) {
   .divIconesHero{

    display: none;
    background-color: aqua;
   }
   .TituloReceitas{
    text-align: center;
    
    width: 100%;
   }
   .conteudo{
    padding: 20px;
   }
   
}
@media only screen and (min-width: 768px) {
   .posConteudo{
    padding-top: 40px;
   }
 }
