.LinkReact{
    text-decoration: none;
}
body{
    background-image: url(./bg.jpg);
    background-size: cover;

}   

.Click{
    transition: 0.5s;
    cursor: pointer;
}
.Click:hover{
    opacity: 0.80;
}

h1{
    font-size: 26pt;
}
h3{
    font-size: 16pt;
}